body.active-2 {
  background: var(--light-gray-main-background);
}

.contenedor-calculadora .titulo-tema .temas p.active-2 {
  color: var(--very-dark-grayish-yellow-text);
}

.titulo-tema .titulo-cambiador-tema h3.active-2 {
  color: var(--very-dark-grayish-yellow-text);
}

.titulo-tema .titulo-cambiador-tema .cambiador-tema p.active-2 {
  color: var(--very-dark-grayish-yellow-text);
}

.titulo-cambiador-tema .cambiador-tema .caja-active-2 {
  background: var(--grayish-red-toggle-background-keypad-background);
}

.cambiador-tema .caja .circulo-active-2 {
  background: var(--orange-key-background-toggle);
  left: 42%;
}

.pantalla input.active-2 {
  background-color: var(--light-grayish-yellow-key-background);
  color: var(--very-dark-grayish-yellow-text);
}

.cuerpo-calc.active-2 {
  background: var(--grayish-red-toggle-background-keypad-background);
}

button.active-2 {
  background: var(--light-grayish-yellow-key-background);
}

.del-active-2,
.reset-active-2 {
  background: var(--dark-moderate-cyan-key-background);
  color: #fff;
  box-shadow: 0px 4px 0px 0px var(--very-dark-cyan-key-shadow);
}

.equal-active-2 {
  background: var(--orange-key-background-toggle);
  color: #fff;
  box-shadow: 0 4px 0 0 var(--dark-orange-key-shadow);
}
